.test {
    width: 100vw;
    height: 100vh;
    background: rgb(151, 151, 170);
    -webkit-transition: width 2s, height 4s -webkit-transform 2s;
    transition: width 2s, height 4s, transform 2s;
}

.test:hover {
    width: 300px;
    height: 600px;
}

.messageNotify {
    font-size: 25px;
    position: fixed;
    margin-left: 8%;
    height: 80vh;
    width: 50vw;
    margin-top: 5%;
    background-color: #c3d0d8;
    padding-left: 5px;
    border-radius: 10px;
    border: 2px solid grey;
}

.badgePosition {
    position: fixed;
    margin-top: 30%;

}
.replyForm {
  position: absolute;
  margin-top: 46%;
  margin-left: 10%;
}
.replyInput {
    border-radius: 10px;
    width: 500px;
    height: 40px;
    margin-right: 15px;
    padding-left: 5px;
  
}

.replyButton {
    border-radius: 10px;
}

.listForm {
    font-size: 25px;
    position: fixed;
    margin-left: 65%;
    height: 80vh;
    width: 25vw;
    margin-top: 5%;
    background-color: #c3d0d8;
    padding-left: 5px;
    border-radius: 10px;
    border: 2px solid grey;
    
}