.test {
    width: 100vw;
    height: 100vh;
    background: rgb(151, 151, 170);
    -webkit-transition: width 2s, height 4s -webkit-transform 2s;
    transition: width 2s, height 4s, transform 2s;
}

.test:hover {
    width: 300px;
    height: 600px;
}

.messageNotify {
    font-size: 25px;
    position: fixed;
    margin-left: 5%;
    height: 87vh;
    width: 90vw;
    margin-top: 4%;
    background-color: rgb(221, 217, 217);
    padding-left: 5px;
}

.badgePosition {
    position: fixed;
    margin-top: 30%;

}
