@import "~antd/dist/antd.css";
.taskbarNav {
    font-size: 20px;
    background:  rgb(151, 151, 170);
    overflow: hidden;
    position: fixed; 
   z-index: 5;
    width: 10%;
    height: 100%;
    margin-top: 2.75%;
    padding-top: 15px;
}

.taskbarNav a:hover {
    background-color: rgb(64, 82, 155);
    color: rgb(252, 240, 240);
   width: 100%;
}



.createIcon {
margin-top: 300%;
margin-left: 15px;
color: rgb(252, 240, 240);

}

.create {
    padding-left: 30px;
    padding-top: 15px;
    color: rgb(252, 240, 240);
}

.create a:hover {
    background-color: rgb(64, 82, 155);
    color: rgb(252, 240, 240);
    
}

.createModal {
    width: 70%;
    height: 55%;
    position: fixed;
    background-color: rgb(151, 151, 170);
    margin-left: 20%;
   margin-top: -35%;
}

.createInputs {
   
    height: 30px;
    width: 35%;
   margin-top: 30px;
   
}
.createInputs1 {
    margin-left: 140px;
    margin-right: 15px;
}

.exitIcon {
    float: right;
    padding: 10px 10px;
}

.createButtons {

   margin-top: 30px;
 
    
}
.createOk {
    margin-left: 80%;
    margin-right: 15px;
}

.createButtons:hover {
    background-color: rgb(64, 82, 155);
}

.createForm {
    height: 70%;
    width: 80%;
    background-color: whitesmoke;
    margin-left: 100px;
 margin-top: 40px;
   
}

.spanTitle {
    color: whitesmoke;
    margin: 0;
    font-size: 12px;
}

.spanForm {
    height: 20%;
    width: 50%;
    position: fixed;
   
}

.datePickerStyle {
    border-radius: 20px;
    width: 25%;
    z-index: 7;
    margin-top: 15px;
    margin-left: 100px;
}

.searchTasksForm {
    position: fixed;
    margin-left: 30%;
    height: 90%;
    width: 90%;
    margin-top: 20px;
}

.searchTasksInput {
    width: 40%;
    height: 40px;
    margin-right: 20px;
}